// DIN

@font-face {
    font-family: 'DIN gepraegt';
    src: url('../fonts/AlteDIN1451Mittelschriftgepraegt.eot');
    src: url('../fonts/AlteDIN1451Mittelschriftgepraegt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AlteDIN1451Mittelschriftgepraegt.woff2') format('woff2'),
        url('../fonts/AlteDIN1451Mittelschriftgepraegt.woff') format('woff'),
        url('../fonts/AlteDIN1451Mittelschriftgepraegt.ttf') format('truetype'),
        url('../fonts/AlteDIN1451Mittelschriftgepraegt.svg#AlteDIN1451Mittelschriftgepraegt') format('svg');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'DIN';
    src: url('../fonts/AlteDIN1451Mittelschrift.eot');
    src: url('../fonts/AlteDIN1451Mittelschrift.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AlteDIN1451Mittelschrift.woff2') format('woff2'),
        url('../fonts/AlteDIN1451Mittelschrift.woff') format('woff'),
        url('../fonts/AlteDIN1451Mittelschrift.ttf') format('truetype'),
        url('../fonts/AlteDIN1451Mittelschrift.svg#AlteDIN1451Mittelschrift') format('svg');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?1hjs1s');
    src: url('../fonts/icomoon.eot?1hjs1s#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?1hjs1s') format('truetype'), url('../fonts/icomoon.woff?1hjs1s') format('woff'),
        url('../fonts/icomoon.svg?1hjs1s#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-reddit:before {
    content: "\e904";
}
.icon-facebook:before {
    content: "\e900";
}
.icon-linkedin:before {
    content: "\e901";
}
.icon-twitter:before {
    content: "\e902";
}
.icon-arrow:before {
    content: "\e903";
}
