/* HEADER -------------------------------------------------------------- */

#headerShell {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  width: 100%;
}
#header {
  top: 0px;
  margin: 0px;
  height: 100px;
  background: rgba(240, 240, 232, 0.8);
  display: none;
}
// #nav, #headerL{
// 	cursor:pointer;
// }

#headerLogo {
  left: 80px;
  top: 15px;

  @media only screen and (max-width: 1280px) {
    left: 6.25vw;
  }
  @media only screen and (max-width: 430px) {
    width: 71vw;
    top: 16px;
    transform-origin: left center;
  }
}

#nav {
  top: 33.3px;
  right: 80px;
  display: block;

  span {
    text-align: right;
    margin-left: 30px;
    display: inline-block;
    a {
      font-size: 12px;
      font-family: 'DIN';
      font-weight: 200;
      letter-spacing: 0.1em;
      color: $secGreen;
      text-transform: uppercase;
      line-height: 1.2em;
      text-decoration: none;
      &:hover {
        color: $secGreen;
        text-decoration: underline;
      }
    }

    &.active {
      a {
        text-decoration: underline;
      }
    }
    &:first-child {
      margin-left: 0px;
    }

    @media only screen and (max-width: 1280px) {
      margin-left: 20px;
      // margin-left: 2.3vw;
      right: 6.25vw;
    }
  }

  @media only screen and (max-width: 1100px) {
    display: none;
  }
  .mobile & {
    display: none;
  }
  &.open {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100vh;
    background: rgba(240, 240, 232, 0.95);
    padding: 15vw;

    span {
      text-align: center;
      display: block;
      margin: 0px auto 10px;
      a {
        font-size: 18px;
      }
    }

    #downloadWhitepaper {
      position: relative;
      top: inherit;
      right: inherit;
      display: block;
      text-align: center;
    }
  }
}
#social {
  top: 90vh;
  right: 80px;
  @media only screen and (max-width: 500px) {
    left: 0px;
    right: 0px;
    text-align: center;
  }
  @media only screen and (max-width: 1250px) {
    top: calc(100vh - 37px);
    right: calc(50% - 91px);
  }
  @media only screen and (max-width: 1100px) {
    display: none;
    transition: none;
  }
  .mobile & {
    display: none;
    transition: none;
  }
  &.open {
    display: block;
    color: $prmGreen;
    opacity: 1;
  }

  a {
    display: inline-block;
    margin-left: 60px;
    font-size: 21px;
    color: #738f84;
    transition: all 0.3s ease;

    &:first-child {
      margin-left: 0px;
    }

    &:hover {
      color: $prmGreen;
      opacity: 1;
    }
    @media only screen and (max-width: 500px) {
      margin: 0px 30px;
      &:first-child {
        margin: 0px 30px;
      }
    }

    // .overview &,
    // .ico &,
    // .cmsolutions &,
    // .founders &,
    // .boardofadvisors & {
    //   opacity: 0.2;
    // }

    .contact & {
      color: #d7ddd4;
    }
  }
}

#openNavBtn {
  cursor: pointer;
  width: 36px;
  height: 36px;
  padding: 0px;
  top: 23px;
  right: 23px;

  display: none;
  @media only screen and (max-width: 1100px) {
    display: block;
  }
  .mobile & {
    display: block;
  }
  .row {
    width: 28px;
    height: 4px;
    background-color: $auxGreen;
    position: absolute;
    left: 4px;
    transition: all 0.3s ease-out;
  }

  .row1 {
    top: 9px;
  }
  .row2 {
    top: 16px;
    transition-delay: 0.1s;
  }
  .row3 {
    top: 23px;
    transition-delay: 0.2s;
  }

  .row4 {
    top: 7px;
    left: 9px;
    transform: rotate(45deg) scaleX(0);
    transform-origin: top left;
    transition: all 0.4s ease-out;
  }
  .row5 {
    top: 7px;
    left: auto;
    right: 9px;
    transform: rotate(-45deg) scaleX(0);
    transform-origin: top right;
    transition: all 0.4s ease-out;
  }

  &.open {
    .row1 {
      opacity: 0;
      top: 29px;
      transition-delay: 0.2s;
    }
    .row2 {
      opacity: 0;
      top: 29px;
    }
    .row3 {
      opacity: 0;
      transition-delay: 0s;
      top: 29px;
    }
    .row4 {
      transform: rotate(45deg) scaleX(1);
      transition-delay: 0.2s;
    }
    .row5 {
      transform: rotate(-45deg) scaleX(1);
      transition-delay: 0.2s;
    }
  }
}
