// APP.SCSS

body {
  background-color: #000;
}
#codevember {
  position: relative;
}
#canvas1 {
  filter: blur(2px);
  // clip-path: url(#shunLogo);
}
#canvas2 {
  filter: blur(2px);
  // clip-path: url(#shunLogo);
}
svg#shunLogo {
  width: 20vw;
  height: auto;
  .cls-1 {
    fill: rgba(100, 0, 0, 0.5);
    .done & {
      fill: rgba(50, 0, 0, 1);
    }
  }
}
#sections {
  position: relative;
  margin: 0px auto;
  text-align: center;
}
.prj {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: none;

  .prj01 &#prj01,
  .prj02 &#prj02,
  .prj03 &#prj03 {
    display: block;
  }
}
#prj01 {
  background-color: rgb(100, 0, 0);
}
#prj02 {
  background: #94ccd1;
  background: -moz-linear-gradient(top, #94ccd1 0%, #579399 77%, #6393b7 100%);
  background: -webkit-linear-gradient(top, #94ccd1 0%, #579399 77%, #6393b7 100%);
  background: linear-gradient(to bottom, #94ccd1 0%, #579399 77%, #6393b7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#94ccd1', endColorstr='#6393b7', GradientType=0);
  svg#shunLogo {
    .cls-1 {
      fill: rgba(247, 179, 255, 0.5);
    }
  }
}
#prj03 {
  // background: #94ccd1;
  // background: -moz-linear-gradient(top, #94ccd1 0%, #579399 77%, #6393b7 100%);
  // background: -webkit-linear-gradient(top, #94ccd1 0%, #579399 77%, #6393b7 100%);
  // background: linear-gradient(to bottom, #94ccd1 0%, #579399 77%, #6393b7 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#94ccd1', endColorstr='#6393b7', GradientType=0);
}
#content3 {
  background-color: #555;
  canvas {
    background: #94ccd1;
    background: -moz-linear-gradient(top, #94ccd1 0%, #579399 100%);
    background: -webkit-linear-gradient(top, #94ccd1 0%, #579399 100%);
    background: linear-gradient(to bottom, #94ccd1 0%, #579399 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#94ccd1', endColorstr='#579399', GradientType=0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px #fff solid;
    // filter: blur(2px);
  }
}
#content3desc {
  color: #94ccd1;
}
.sect {
  max-width: 1280px;
  padding: 0 80px;

  // border:.5px #777 solid;

  @media only screen and (max-width: 1280px) {
    padding: 0 6.25vw;
  }
  @media only screen and (max-height: 650px) {
    min-height: 700px;
  }
  @media all and (orientation: portrait) {
    .mobile & {
      min-height: 100vh;
    }
  }
}
