// colors

$prmGreen: #738f84;
$secGreen: #1d4535;
$auxGreen: #5cc098;

.greenrounded {
	border-radius: 7px;
	background-color: rgb(115, 143, 132);
	padding: 55px;
	p {
		color: #fff;
		font-size: 14px;
	}
}

.threecol {
	position: relative;
	margin: 0px auto;
	display: flex;
	// flex-wrap: nowrap;
	// flex-direction: row;
	// justify-content: space-evenly;
	// align-content: flex-start;
	// align-items: stretch;

	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
	.item {
		position: relative;
		margin: 0px auto;
		// padding: 0 1.95vw;
	}
}

.twocol {
	display: flex;
	flex-wrap: nowrap;
	.item {
		flex: flex-grow;
		margin: 0px auto;
		//
	}
}

.ctaBtn {
	border-width: 3px;
	border-color: rgb(29, 69, 53);
	border-style: solid;
	width: 147px;
	height: 46px;
	display: inline-block;
	margin: 0px auto;
	text-align: center;
	padding-top: 10px;
	color: $secGreen;
	text-transform: uppercase;
	border-radius: 30px;
	transition: all 0.3s ease;
	&:hover {
		border-color: $prmGreen;
		background-color: $prmGreen;
		color: #fff;
	}
}
