<div id="content" class="TL absFull">
    <canvas id="canvas2" class="TL"></canvas>
    <!-- <svg xmlns="http://www.w3.org/2000/svg" id="shunLogo" class="TC" viewBox="0 0 588.15 210.58">
        <defs>
            <style></style>
        </defs>
        <title>Asset 1</title>
        <g id="Layer_2" data-name="Layer 2">
            <g id="Layer_1-2" data-name="Layer 1">
                <path class="cls-1" d="M0,157.16H1.66c5.46,40.13,40.13,49.15,56.75,49.15,15.2,0,26.12-7.36,26.12-16.62,0-25.88-84.53-23-84.53-69.81C0,90.68,33.24,80.23,57.94,80.23a100.51,100.51,0,0,1,29.21,4.51l15.67-4.27,2.38,41.79h-1.66C100.67,93.53,74.32,82.13,57,82.13c-13.77,0-23,7.36-23,16.38,0,27.07,82.87,19.94,82.87,66.72,0,25.64-25.17,43-58.41,43-11.16,0-25.17-1.9-38.23-5L2.61,207.73Z"
                />
                <path class="cls-1" d="M283.14,206.78H209.06V203.7h2.85c5.22,0,8.07-3.56,8.07-9.5v-94c0-13.53-5.46-17.57-11.4-17.57-9.26,0-17.81,14.45-17.81,32.49v80.29c0,6.41,4.27,8.31,6.41,8.31h4.51v3.09H126V203.7h7.12c7.12,0,11.4-5.22,11.4-11.63V30.37c0-5.7-2.61-10.45-8.07-10.45h-8.07V16.59L190.78,0V95.19c4.51-13.06,15.43-21.37,38.46-21.37,19.47,0,38.23,9.74,38.23,39.41v81.44c0,5.94,1.66,9,6.65,9h9Z"
                />
                <path class="cls-1" d="M436,206.55H373.57v-17.1c-4.51,15-19.47,21.13-37.28,21.13-19.71,0-39.41-12.11-39.41-40.13V90.2c0-6.17-1.66-9-6.65-9h-9V78.09h62.92V182.8c0,13.77,5.7,17.81,11.63,17.81,9.26,0,17.81-12.35,17.81-30.39v-81c0-6.41-4.27-8.07-6.41-8.07h-4.75V78.09h57.46v115.4c0,5.7,2.61,10.21,8.07,10.21H436Z"
                />
                <path class="cls-1" d="M588.15,206.55H514.07V203.7h2.85c5.22,0,8.07-3.8,8.07-9.5V101.6C525,88.06,519.53,84,513.6,84c-9.26,0-17.81,12.35-17.81,30.39v81c0,6.41,4.27,8.31,6.41,8.31h4.51v2.85H431V203.7h7.12c7.12,0,11.4-5.22,11.4-11.63V91.39c0-5.94-2.61-10.21-8.07-10.21h-8.07V78.09h62.45v17.1c4.51-15,19.47-21.13,37.28-21.13,19.71,0,39.41,12.11,39.41,40.13v80.25c0,6.17,1.66,9.26,6.65,9.26h9Z"
                />
            </g>
        </g>
    </svg> -->
</div>